:root {
  --main_color: #ff2c1f;
  --text_color: #020307;
  --bg-color: #ffffff;
}

/* ======================== NAVBAR ======================== */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  font-size: 30px;
}

/* ======================== LOGO ======================== */
.logo {
  font-weight: 600;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 30px;
}

.logo a {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
}

.logo_react {
  color: var(--main_color);
  font-size: 1.5rem;
}

.logo_text {
  color: var(--bg-color);
  font-size: 1.2rem;
  font-weight: 700;
}

/* ======================== MENU BUTTON ======================== */
.menu-btn {
  font-size: 30px;
  background: none;
  border: none;
  color: var(--bg-color);
  cursor: pointer;
  display: none;
}

/* ======================== NAV LINKS ======================== */
.nav-links {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 80px;
}

.nav-links a {
  color: var(--bg-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 16px;
}

.nav-links a:hover {
  color: var(--main_color);
}

/* ======================== SEARCH BAR ======================== */
.navbar-search {
  flex: 1;
  max-width: 200px;
  padding: 10px 14px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--bg-color);
  font-size: 16px;
  border-radius: 4px;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.navbar-search::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-search:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

/* ======================== RESPONSIVE ======================== */
@media (max-width: 768px) {
  .logo{
    font-size: 5.5rem;
    margin-left: 40%;
  }
  .navbar {
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .menu-btn {
    display: block;
    margin-left: 50%;
  }

  .nav-links {
    width: 100%;
    display: none;
    background-color: #1e1e1e;
    padding: 5px 0;
    margin-top: 10px;
    border-radius: 5px;
  }

  .nav-links a {
    margin: 10px 0;
    padding: 0 10px;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
  }

  .navbar-search {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
